#dataTable .cardsTable {   
   border-collapse:collapse;
   border:1px solid #000000;
}

#dataTable .cardsTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

#dataTable .cardsTableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

#dataTable .cardsTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}