
Sem3/Eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Sem3/Eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Sem3/Eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Sem3/Eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
*.dat
