@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <span title="This is definitely not a scam or virus"><p>Learn how to pull off a middleman attack by stealing the code of a website <a href="https://www.google.com">here!</a></p></span>
</div>
