@model CST247_Benchmark.Models.BibleVerseModel

@{
    ViewData["Title"] = "Search";
}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - King James Bible</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
</head>
<body id="page-top">
    <h1>Search</h1>

    <h4>You may input however much information you want to search for</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="processSearch">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="testament" class="control-label">Testament</label>
                    <select asp-for="testament" class="form-control">
                        <option value=""></option>
                        <option value="Old Testament">Old Testament</option>
                        <option value="New Testament">New Testament</option>
                    </select>
                    <span asp-validation-for="testament" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="bookNumber" class="control-label">Book</label>
                    <select asp-for="bookNumber" class="form-control" size="8">
                        <option selected="selected" value="0"></option>
                        <option value="1">Genesis</option>
                        <option value="2">Exodus</option>
                        <option value="3">Leviticus</option>
                        <option value="4">Numbers</option>
                        <option value="5">Deuteronomy</option>
                        <option value="6">Joshua</option>
                        <option value="7">Judges</option>
                        <option value="8">Ruth</option>
                        <option value="9">1 Samuel</option>
                        <option value="10">2 Samuel</option>
                        <option value="11">1 Kings</option>
                        <option value="12">2 Kings</option>
                        <option value="13">1 Chronicles</option>
                        <option value="14">2 Chronicles</option>
                        <option value="15">Ezra</option>
                        <option value="16">Nehemiah</option>
                        <option value="17">Esther</option>
                        <option value="18">Job</option>
                        <option value="19">Psalms</option>
                        <option value="20">Proverbs</option>
                        <option value="21">Ecclesiastes</option>
                        <option value="22">Song of Songs</option>
                        <option value="23">Isaiah</option>
                        <option value="24">Jeremiah</option>
                        <option value="25">Lamentations</option>
                        <option value="26">Ezekiel</option>
                        <option value="27">Daniel</option>
                        <option value="28">Hosea</option>
                        <option value="29">Joel</option>
                        <option value="30">Amos</option>
                        <option value="31">Obadiah</option>
                        <option value="32">Jonah</option>
                        <option value="33">Micah</option>
                        <option value="34">Nahum</option>
                        <option value="35">Habakkuk</option>
                        <option value="36">Zephaniah</option>
                        <option value="37">Haggai</option>
                        <option value="38">Zechariah</option>
                        <option value="39">Malachi</option>
                        <option value="40">Matthew</option>
                        <option value="41">Mark</option>
                        <option value="42">Luke</option>
                        <option value="43">John</option>
                        <option value="44">Acts</option>
                        <option value="45">Romans</option>
                        <option value="46">1 Corinthians</option>
                        <option value="47">2 Corinthians</option>
                        <option value="48">Galatians</option>
                        <option value="49">Ephesians</option>
                        <option value="50">Phillipians</option>
                        <option value="51">Colossians</option>
                        <option value="52">1 Thessalonians</option>
                        <option value="53">2 Thessalonians</option>
                        <option value="54">1 Timothy</option>
                        <option value="55">2 Timothy</option>
                        <option value="56">Titus</option>
                        <option value="57">Philemon</option>
                        <option value="58">Hebrews</option>
                        <option value="59">James</option>
                        <option value="60">1 Peter</option>
                        <option value="61">2 Peter</option>
                        <option value="62">1 John</option>
                        <option value="63">2 John</option>
                        <option value="64">3 John</option>
                        <option value="65">Jude</option>
                        <option value="66">Revelation</option>
                    </select>
                    <span asp-validation-for="book" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="chapter" class="control-label">Chapter number</label>
                    <input asp-for="chapter" class="form-control" min="0" max="150" value="0" />
                    <span asp-validation-for="chapter" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="verse" class="control-label">Verse Numbers</label>
                    <input asp-for="verse" class="form-control" min="0" max="176" value="0" />
                    <span asp-validation-for="verse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="text" class="control-label">Text or Phrase</label>
                    <input asp-for="text" class="form-control" style="width:200px; height:100px;" value="" />
                    <span asp-validation-for="text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>
